@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*
Name: https://colorkit.co/color/123456
oklch: https://oklch.com/
*/

@theme {
  --color-brown: oklch(0.2229 0.0419 28.03); /* 2c1310, Burnt Coffee */
  --color-brown2: oklch(0.3014 0.0373 29.82); /* 3f2723, Ethereal Espresso */
  --color-red: oklch(0.447 0.1447 37.57); /* 932c04, Chocoholic */
  --color-red2: oklch(0.323 0.1038 37.61); /* 5d1902, Evil Cigar */
  --color-yellow: oklch(0.6353 0.1365 62.28); /* c4751c, Ochre */
  --color-yellow2: oklch(0.9081 0.0378 83.03); /* eddfc5, Golden Retriever */

  --font-title: "Yellowtail", cursive;
  --font-txt: "Montserrat", sans-serif;
}
