<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href="planrr.png">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="dark:bg-brown text-yellow font-txt">
    <main>
      <div class="font-bold text-7xl text-center pt-10 font-title">
        <img
          src="planrr.png"
          alt="<%= title %> logo"
          title="<%= title %>"
          class="inline align-top">
        <%= title %>
      </div>
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root"></div>
      <script type="module" src="./src/main.tsx"></script>
    </main>
    <footer
      class="text-center text-xs bg-brown2 text-yellow2 fixed bottom-0 w-[100%] italic">
      UI
      <span id="frontend"></span>
      &nbsp; &middot; &nbsp; API
      <span id="backend"></span>
    </footer>
  </body>
</html>
