@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*
name: https://colorkit.co/color/123456
oklch: https://oklch.com/
*/

@theme {
  --color-brown: oklch(22.29% 0.0419 28.03deg); /* 2c1310, Burnt Coffee */
  --color-brown2: oklch(30.14% 0.0373 29.82deg); /* 3f2723, Ethereal Espresso */
  --color-red: oklch(44.7% 0.1447 37.57deg); /* 932c04, Chocoholic */
  --color-red2: oklch(32.3% 0.1038 37.61deg); /* 5d1902, Evil Cigar */
  --color-yellow: oklch(63.53% 0.1365 62.28deg); /* c4751c, Ochre */
  --color-yellow2: oklch(90.81% 0.0378 83.03deg); /* eddfc5, Golden Retriever */
  --font-title: yellowtail, cursive;
  --font-txt: montserrat, sans-serif;
}
